@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  background-color: theme('colors.theme.300');
  overflow-x: hidden;
}

.square {
  width: 65vmin;
  height: 65vmin;
}


.btn-transition {
    transition-property: color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 400ms;
}
